.aside {
  position: fixed;
  display: block;
  width: 320px;
  padding: 24px 24px 32px 19px;
  background-color: #fff;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  transform: translateX(-150%);
  transition: all 0.3s ease;
  z-index: 10;
}
.aside--active {
  transform: translateX(0%);
}
.aside__header {
  display: flex;
  gap: 16px;
  align-items: center;
}
.aside__nav-items {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

.aside__nav {
  padding-top: 50px;
}

.aside__nav-link {
  display: inline-block;
  font-size: 16px;
  color: #1b1c21;
  letter-spacing: -0.2;
  margin-bottom: 24px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.aside__nav-link:hover {
  opacity: 0.6;
}
.aside__nav-link--active {
  position: relative;
}
.aside__nav-link--active:before {
  position: absolute;
  content: '';
  width: 4px;
  height: 32px;
  background-color: #41f6d7;
  left: -20px;
  top: -4px;
}

.aside__footer-inner {
  display: flex;
  gap: 16px;
  margin-top: 163px;
  margin-bottom: 16px;
}
.aside__footer-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

@media (min-width: 1120px) {
  .aside {
    position: fixed;
    transform: translateX(0%);
    z-index: 1;
  }
  .aside__header-close {
    display: none;
  }
}

@media (min-width: 1140px) {
  .aside {
    height: 100vh;
  }
}
