.button {
  width: 136px;
  height: 32px;
  text-indent: -15px;
  background: url(../img/drop.svg) no-repeat;
  background-position: 114px 11px;
  background-color: #ff3e79;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-out;
}

.button:hover {
  opacity: 0.6;
}
.button__text {
  font-family: 'TT Lakes bold';
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
}
