.forms {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.forms__repair {
  position: relative;
}
.forms__repair::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 32px;
  background: #eaeaea;
  left: -18px;
  top: 9%;
}
@media (min-width: 1120px) {
  .forms__repair::before {
    display: none;
  }
  .forms {
    display: flex;
    column-gap: 32px;
  }
}
