.modal-form {
  position: fixed;
  right: 0;
  max-width: 440px;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  z-index: 100;
}
.modal-form__container {
  position: relative;
  width: 85%;
  margin: 0 auto;
  padding-top: 40px;
}
.modal-form__agreement {
  height: 64px;
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;
}
.modal-form__link {
  color: #ff3e79;
  text-decoration: none;
}
.modal-form__submit {
  position: absolute;
  right: 0;
  margin-left: auto;
  color: #ffffff;
}
@media (min-width: 320px) and (min-width: 768px) {
  .modal-form__close {
    position: absolute;
    top: 46px;
    left: -100px;
  }
}
