.swiper-pagination-bullet {
  background-color: #b5b6bc;
  width: 12px;
  height: 12px;
}
.swiper-pagination {
  display: block;
}
@media (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }
}
